*{
    margin: 0;
    top: 0;
}

.titulo{
    background-color: #f5a43d;
    font-size: 40px;
    margin: 0 auto;
    text-align: center;
    padding: 1% 0;
}

.divPrincipal{
    background-color: #fff2e2;
    height: 100vh;
    width: 80%;
    margin: 0 auto;
}

.comidas{
    background-color: #fff2e2;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.divCategoria{
    height: 100%;
    width: 30%;
    background-color: #fff2e2;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.divPrato{
    width: 80%;
    margin: 0 auto;
    background-color: #f5a43d;
    border: 10px solid #f5a43d;
    border-radius:  10px;
}
.divPrato p{
    font-size: 20px;
}

.imgPrato{
    width: 100%;
    height:350px;
}
@media (max-width: 1500px) {
    .divCategoria h1{
        font-size: 25px;
    }
    .divPrato p{
        font-size: 18px;
    }
    .imgPrato{
        width: 100%;
        height:250px;
    }
}