@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
:root{
    --cor1: #ffffff;
    --cor2: #fadfb4;
    --cor3: #4c3b34;
    --fonte1: "Staatliches", serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--cor3);
}
.principal{
    margin: 0 auto;
    padding: 0;
    width: 80%;
    height: 100vh;
    background-color: var(--cor1);
    font-family: var(--fonte1);
    letter-spacing: 2px;
    text-align: center;
}
.texto{
    display: flex;
}
h1{
    background-color: var(--cor2);
    text-align: center;
    font-size: 60px;
    color: var(--cor3);
    margin: 0;
    padding: 2% 0;
}
.div_prin{
    background-color: var(--cor1);
    width: 50%;
}
.div{
    height: 40%;
    display: inline;
    justify-content: space-between;
    text-align: left;
}
.logo{
    margin: 0% 6% 0% 6%;
    height: 40%;
    width: 30%;
}
h2{
    text-align: center;
    font-size: 4dvh;
    background-color: var(--cor2);
    text-align: left;
    padding-left: 3%;
    color: var(--cor3);
}
#p{
    width: 80%;
    margin: 0 auto;
}
@media (max-width: 500px) {
    h1{
        font-size: 28px;
    }
    h2{
        font-size: 2dvh;
    }
    .principal{
        width: 90%;
        letter-spacing: 1px;
    }
    .principal p{
        font-size: 12px;
    }
    .div{
        font-size: 12px;
    }
    
}