@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{ margin: 0;
    padding: 0;
}
body{
    background-color: #fff2e2;
    width: 100%;
}

header a{
    text-decoration: none;
    transition: 0.3s;
}
#menuPC a:hover {
    opacity: 0.7;
}
.logoTitulo {
    font-family: "Playlist Script";
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 50%;
    color: #F2E6D8;
    padding-left: 3%;
}
#menuPC{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #593325;
    height: 8vh;
    width: 100%;
}
.nav-bar {
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: right;
}
.nav-bar li {
    margin-right: 5%;
    letter-spacing: 3px;
    text-align: center;
    align-items: center;
    width: 20%;
    height: 100%;
}
.nav-bar li a{
    color: #ebd8f2;
}
#menuMobile{
    width: 100%;
    height: 8vh;
    display: none;
    justify-content: space-around;
    background-color: #593325;
    align-items: center;
    color: #fff2e2;
}
#menuMobile a{
    color: #fff2e2;
}
.img_inicial{
    width: 100%;
    height: 30%;
}
#icone{
    font-size: 200%;
    cursor: pointer;
    color: #593325;
}
menu{
    display: none;
    position: absolute;
    right: 0%;
    top: 0%;
    width: 30%;
    height: 100%;
    cursor: pointer;
    background-color: #f0f0f0;
}
menu ul{
    list-style-type: none;
    padding-top: 10%;
    background-color: #593325;
    width: 100%;
}
menu ul li{
    font-size: 120%;
    letter-spacing: 0.2rem;
    width: 100%;
    height: 10%;
    padding: 10%;
}
.flut{
    background-color: #593325;
    position: sticky;
    top: 90%;
    left: 95%;
    padding: 1% 1% 1% 1.5%;
    width: 3%;
    height: 4%;
    font-size: 140%;
}
.bt1{
    background-color: #4c3b34;
    width: 50%;
    height: 5rem;
    border: 2px solid #4c3b34;
    border-radius: 10px;
}
.divInicio{
    background-image: url(./static/images/imgInicio.jpg);
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-size:     100%;             
    background-repeat:   no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    height: 28rem;
    padding: 5% 0% 5% 5%;
}
.divInicio1{
    background-color: #c57b262d;
    display: inline;
    width: 50%;
}
.divInicio2{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#fotoInicio{
    border: 4px solid #4c3b34;
    border-radius: 10%;
    height: 70%;
    width: 60%;
}
.bt1 a{
    color: white;
}
.sbrest{
    background-color: #f5a43d;
    width: 60%;
    height: 100%;
    margin: 0% 3% 6% 5% ;
    padding: 7% 15%;
    text-align: center;
}
.userinsta{
    font-family: "Playlist Script";
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.experiencias{
    background-color: #4c3b34;
    height: 500px;
    width: 100%;
    text-align: center;
}
.p_sobre{
    width: 100%;
    font-size: 36px;
    text-align: center;
}
.bt_sobre{
    background-color: #4c3b34;
    width: 40%;
    padding: 3%  0;
    border: 2px solid #4c3b34;
    border-radius: 10px;
    font-size: 22px;
}
.bt_sobre a{
    color: #f0f0f0;
}
.rodape{
    background-color: #f5a43d;
    width: 100%;
    height: 60%;
   text-align: center;
    padding-bottom: 3%;
}
.final{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
@media (max-width: 999px) {
    .logoTitulo{
        padding-left: 1%;
        font-size: 13px;
    }
    #menuMobile{
        display: flex;
        width: 100%;
    }
    #menuPC{
        display: none;
        width: 100%;
    }
    .divInicio{
        height: 13rem;
        font-size: 10px;
    }
    .divInicio h1{
        font-size: 14px;
    }
    
    #fotoInicio{
        height: 60%;
        width: 60%;
    }
    .bt1{
        width: 50%;
        height: 3rem;
        font-size: 10px;
    }
    .userinsta{
        font-size: 30px;
    }
    .p_sobre{
        font-size: 30px;
    }
}
@media(max-width:810px){
    .userinsta{
        font-size: 22px;
    }
    .p_sobre{
        font-size: 22px;
    }
    .bt_sobre{
        font-size: 16px;
    }
}
@media (max-width:625px) {
    .userinsta{
        font-size: 16px;
    }
    .p_sobre{
        font-size: 16px;
    }
    .bt_sobre{
        font-size: 10px;
    }
}