<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/cardapio.css">
</head>
<body>
    <div class="divPrincipal">
    <h1 class="titulo">CARDÁPIO</h1><br>

        <div class="comidas">
            
            <div class="divCategoria">
                <h1>ENTRADAS</h1>

                {% for prato in dadosEntrada %}
                <div class="divPrato">
                <img src="{{ prato.imagem }}" class="imgPrato">
                    <h2>{{prato.nome}}</h2><br>
                    <p> {{prato.descricao}}</p><br>
                    <h2>R$ {{prato.preco}}0</h2>
                </div>
                {% endfor %}
            </div>
            
            <div  class="divCategoria">
                <h1>PRATOS PRINCIPAIS</h1>

                {% for prato in dadosPrincipal %}
                <div class="divPrato">
                <img src="{{ prato.imagem }}" class="imgPrato">
                    <h2>{{prato.nome}}</h2><br>
                    <p> {{prato.descricao}}</p><br>
                    <h2>R$ {{prato.preco}}0</h2>
                </div>
                {% endfor %}

            </div>
        
            <div  class="divCategoria">
                <h1>SOBREMESA</h1>

                {% for prato in dadosSobremesa %}
                <div class="divPrato">
                <img src="{{ prato.imagem }}" class="imgPrato">
                    <h2>{{prato.nome}}</h2><br>
                    <p> {{prato.descricao}}</p><br>
                    <h2>R$ {{prato.preco}}0</h2>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</body>
</html>