<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/cardapio.css">
</head>
<body>
    <div class="divPrincipal">
    <h1 class="titulo">CARDÁPIO</h1><br>

        <div class="comidas02">
            <div id="cabecalho">
                <a onclick="ativaCategoria('mainEntrada')">ENTRADAS</a>
                <a onclick="ativaCategoria('mainPrincipal')">PRINCIPAL</a>
                <a onclick="ativaCategoria('mainSobremesa')">SOBREMESA</a>
            </div>
            <div id="mainEntrada">
                {% for prato in dadosEntrada %}
                <div class="divPrato">
                <img src="{{ prato.imagem }}" class="imgPrato">
                    <h2 class="hNome">{{prato.nome}}</h2><div class="espaco"></div>
                    <p> {{prato.descricao}}</p><div class="espaco"></div>
                    <h2>R$ {{prato.preco}}0</h2>
                </div>
                {% endfor %}
            </div>
            <div id="mainPrincipal">
                {% for prato in dadosPrincipal %}
                <div class="divPrato">
                <img src="{{ prato.imagem }}" class="imgPrato">
                    <h2 class="hNome">{{prato.nome}}</h2><div class="espaco"></div>
                    <p> {{prato.descricao}}</p><div class="espaco"></div>
                    <h2>R$ {{prato.preco}}0</h2>
                </div>
                {% endfor %}
            </div>
            <div id="mainSobremesa">
                {% for prato in dadosSobremesa %}
                <div class="divPrato">
                <img src="{{ prato.imagem }}" class="imgPrato">
                    <h2 class="hNome">{{prato.nome}}</h2><div class="espaco"></div>
                    <p> {{prato.descricao}}</p><div class="espaco"></div>
                    <h2>R$ {{prato.preco}}0</h2>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="comidas01">
            <div class="divCategoria">
                <h1>ENTRADAS</h1>

                {% for prato in dadosEntrada %}
                <div class="divPrato">
                <img src="{{ prato.imagem }}" class="imgPrato">
                    <h2 class="hNome">{{prato.nome}}</h2><div class="espaco"></div>
                    <p> {{prato.descricao}}</p><div class="espaco"></div>
                    <h2>R$ {{prato.preco}}0</h2>
                </div>
                {% endfor %}
            </div>
            
            <div  class="divCategoria">
                <h1>PRINCIPAL</h1>

                {% for prato in dadosPrincipal %}
                <div class="divPrato">
                <img src="{{ prato.imagem }}" class="imgPrato">
                    <h2 class="hNome">{{prato.nome}}</h2><div class="espaco"></div>
                    <p> {{prato.descricao}}</p><div class="espaco"></div>
                    <h2>R$ {{prato.preco}}0</h2>
                </div>
                {% endfor %}

            </div>
        
            <div  class="divCategoria">
                <h1>SOBREMESA</h1>

                {% for prato in dadosSobremesa %}
                <div class="divPrato">
                <img src="{{ prato.imagem }}" class="imgPrato">
                    <h2 class="hNome">{{prato.nome}}</h2><div class="espaco"></div>
                    <p> {{prato.descricao}}</p><div class="espaco"></div>
                    <h2>R$ {{prato.preco}}0</h2>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <script src="/static/js/comand.js"></script>
</body>
</html>