<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/cardapio.css">
</head>
<body>
    <div class="div_princ">
    <h1 class="titulo">CARDAPIO</h1>

    <div class="comidas">

        <div class="div1">
            <h1>ENTRADAS</h1>
            <div id="div1">

            
                <img src="/static/images/isca.jpg" class="isca">
  
                <p> camarão</p>
                <p> comida kskskskshdjks</p>
            </div>

            <div id="div2">

            </div>

            {% for prato in dadosEntrada %}
            <div id="div1">
                <h1>{{prato.nome}}</h1>
            </div>
            {% endfor %}
            
        </div>
        
        <div  class="div2">
            <h1>PRATOS PRINCIPAIS</h1>

            <div id="div1">
               
                <img src="/static/images/isca.jpg" class="isca">
                  
                <p> peixe</p>

                <p> comida kskskskshdjks</p>



            </div>

            <div id="div2">

            </div>
            {% for prato in dadosPrincipal %}
            <div id="div1">
                <h1>{{prato.nome}}</h1>
            </div>
            {% endfor %}
        
        </div>
    
    <div  class="div3">
        <h1>SOBREMESA</h1>
        <div id="div1">


            <img src="/static/images/isca.jpg" class="isca">
              
            <p> carne kskskskshdjks</p>

            <p> foi feita com tal ingre</p>

        </div>
        <div id="div2">

        </div>
        {% for prato in dadosSobremesa %}
            <div id="div1">
                <h1>{{prato.nome}}</h1>
            </div>
        {% endfor %}
    </div>
    </div>

    </div>

</body>
</html>