<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperos Maranhenses</title>
    <link rel="shortcut icon" href="imagens/logo.jpg" type="image/x-icon" style="height: 40px;">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
</head>
<body>
    <header>
        <nav id="menuPC">
            <a class="logoTitulo" href="">Temperos Maranhenses</a>
            
            <ul class="nav-bar">
                <li><a href="/cardapio">Cardápio</a></li>
                <li><a href="/localizacao">Localização</a></li>
                <li><a href="/quemsomos">Quem somos</a></li>
            </ul>
        </nav>

        <nav id="menuMobile">
            <a class="logoTitulo">Temperos Maranhenses</a>
            <i class="fa-solid fa-bars" id="icostatic/imagens/logo.jpgne" onclick="clickMenu()"></i>
            <menu id="itens">
                <ul class="nav">
                    <li><a href="/cardapio">Cardapio</a></li>
                    <li><a href="/quemsomos">Quem somos</a></li>
                    <li><a href="/localizacao">Localização</a></li>
                    <li><a onclick="clickMenu()">Voltar</a></li>
                </ul>
            </menu>
        </nav>
    </header>
    <article>
       <div class="divInicio">
           <div class="divInicio1">
                <h1 id="h1_inicial">UMA EXPERIÊNCIA GASTRONÔMICA MARANHENSE</h1>
                <br>
                <p class="textoInicial">PRAZER, SOMOS O TEMPEROS MARANHENSES!</p>
                <br>
                <h1 class="p_inicial">Proporcionar uma vivência única, sensorial
                e gustativa por meio da gastronomia maranhense</h1> <br>
                <button class="bt1">
                    <a href="/cardapio">VER CARDÁPIO <i class="fa-solid fa-arrow-right"></i> </a>
                </button> 
            </div>
            <div class="divInicio2">
                <img id="fotoInicio" src="/static/images/foto_comida.jpg" class="ft_inicial">
            </div>
        </div>
    <div class="flut">
        <a href="https://www.instagram.com/tempero.maranhese?igsh=MWxjdW5vbDhsazdqZw==" style="color: white;"><i class="fa-brands fa-instagram"></i></a>
    </div>
    
    <div id="back_sbrest">
    <div class="sbrest"> 
        <br>
        <h2 class="userinsta"><a href="https://www.instagram.com/tempero.maranhese?igsh=MWxjdW5vbDhsazdqZw==" style="color: black;"><i class="fa-solid fa-at"></i>Tempero Maranhense</a></h2> <br><br>
        <p class="p_sobre">
            O restaurante Tempero Maranhense é o lugar ideal para saborear pratos tradicionais
            da culinária maranhense, preparados com ingredientes frescos
            e sabor único. Com um ambiente acolhedor, é perfeito para reunir
            a família e amigos. Descubra o verdadeiro sabor do Maranhão em cada refeição!
        </p> <br><br>
        
        <button class="bt_sobre"> <a class="a_sobre" href="/quemsomos">CONHEÇA →</a></button>
    </div>
    </div>
        

        <footer>
            <div class="rodape">
                <h1 class="tituloRodape" > Temperos Maranhenses</h1>
                <p class="pRodape">BISTRÔ</p>
                
                <br>
                
                <a href="cardapio.html" style="color:#4c3b34">VER CARDÁPIO  </a>
                <br>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.5178275619087!2d-44.29362912633971!3d-2.9537061397192854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7f4491b79ecf6df%3A0xf8067699f6933fed!2sIFMA%20-%20Ros%C3%A1rio!5e0!3m2!1spt-BR!2sbr!4v1737061827715!5m2!1spt-BR!2sbr" id="mapa" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <br><br><br>
            </div>
            
            
            <div class="final"><p> 2025 | Tempero Maranhense Bistrô </p></div>
        </footer>
    </article>
   <script src="../static/js/comand.js"></script> 
</body>
</html>