<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem Somos</title>
    <link rel="stylesheet" href="../static/css/quem.css">
</head>
<body>
    <div class="principal">
        <h1>Quem Somos</h1>
        <p>
             O restaurante Tempero Maranhense é especializado em pratos típicos 
        da culinária maranhense, trazendo sabores autênticos e
         inesquecíveis. Venha experimentar o melhor da nossa tradição!
        </p>

        <div class="texto">
        <img src="/static/images/logo.jpg" class="logo">

        <div class="div_prin">

            <div class = "div">
                <h2> Missão </h2>
            <p>
                 Proporcionar uma vivência única, sensorial e gustativa por meio da gastronomia maranhense,
                 através de pratos típicos tradicionais, valorizando a cultura local e promovendo práticas 
                 sustentáveis.
                </p>
            </div>
            
            <div class = "div">
                <h2> Visão </h2>
                <p> 
                     Ser reconhecido como o principal e melhor bistrô  maranhense, rico em tradição culinária,
                    onde a autencidade dos sabores é harmonizada com práticas responsáveis.
                </p>
            </div>
            
            <div class = "div">
                <h2> Valores</h2>
                <ul>
                <li> Ênfase na sastifação dos nossos clientes </li>
                <li> Valorização da riqueza cultural do Maranhão </li>
                <li> Ambiente familiar e acolhedor em harmonia com a natureza. </li>   
                </ul>
            </div>
            
        </div>
        </div>
    </div>

    



</body>
</html>
